<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="login-page">
    <div class="form">
      <form name="loginform" class="login-form" action="/" method="post">
        <input type="email" name="email" placeholder="email" value={{email}} />
        <input type="password" name="password" placeholder="password" value={{password}} />
        <button type="submit">login</button>
        {{message}}
      </form>
    </div>
  </div>
  <style scoped></style>
</body>

</html>