<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/department/sales/{{token}}/favicon.ico>
    <title>kn_prime_001</title>
    <link href=/department/sales/{{token}}/js/homev2.js rel=prefetch>
    <link href=/department/sales/{{token}}/css/app.css rel=preload as=style>
    <link href=/department/sales/{{token}}/css/chunk-vendors.css rel=preload as=style>
    <link href=/department/sales/{{token}}/js/app.js rel=preload as=script>
    <link href=/department/sales/{{token}}/js/chunk-vendors.js rel=preload as=script>
    <link href=/department/sales/{{token}}/css/chunk-vendors.css rel=stylesheet>
    <link href=/department/sales/{{token}}/css/app.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but kn_prime_001 doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id=app></div>
    <script src=/department/sales/{{token}}/js/chunk-vendors.js></script>
    <script src=/department/sales/{{token}}/js/app.js></script>
</body>

</html>